/*
 RESET 
 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
GENERAL
 */

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.row-flex{
    display: flex;
    flex-direction: row;
}

/* 
HEADER TOP
*/

.header-top > .row-flex{
    padding: 20px;
    line-height: 3em;
}

.container > div{
    padding: 0 10px;
    font-size: 24px;
}

.logo-column{
    text-align: left;
}
.link-column{
    text-align: center;
}

.login-column{
    text-align: right;
}

.header-top-small-column{
    width: 25%;
}

.header-top-big-column{
    width: 50%;
}

/* 
HEADER BOTTOM
 */

.header-bottom-container{
    width: 80%;
    height: 400px;
    padding-top: 20px;
    padding-bottom: 20px;

}

.header-bottom > .row-flex{
    justify-content: center;
    padding: 50px;
}

/* 
MAIN
 */

 .main-2col-pink{
    width: 30%;
    height: 500px;
 } 
 
 .main-2col-blue{
    width: 70%;
    height: 500px;
 } 

 .main-section{
    margin: 0px;
}

.main-2nd-section{
    padding: 0;
}

.sec4-green-box{
    width: 100%;
    height: 1000px;
}

main section{
    padding: 40px 0;
}

/*
FOOTER
 */

.large-column{
    width: (100% / 3);
    height: 400px;
}





 /* 

 DEBUG

  */

.header-top-big-column,
.header-top-small-column,
.header-bottom-container,
.main-2col-pink,
.main-2col-blue,
.sec4-green-box{
    border: 2px dashed black;
}

/* DEBUG HEADER */

header{
    background-color: #ADD8E6;
}

.header-top-small-column{
    background-color:#DAA520;
}

.header-top-big-column{
    background-color:#DAA520;
}

.header-bottom{
    background-color: #00008B;
}

.header-bottom-container{
    background-color: #EE82EE;
}

/* DEBUG MAIN */

.main-2col-blue{
    background-color: #1E90FF;
 }

.main-2col-pink{
    background-color: #FFC0CB;
 }

.grey-background{
    background-color: #D3D3D3;
}

.sec4-green-box{
    background-color: #228B22;
}

.dark-backgorund{
    background-color: #23272A;
}